*{
scroll-behavior:smooth;
}


body{

margin:0;
font-family:Arial;
background:#050816;
color:white;

}


nav{

position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-around;
background:#080d20;
padding:15px;
z-index:10;

}



nav a{

color:white;
margin:10px;
text-decoration:none;

}



.hero{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
gap:100px;

}


.hero-text{

max-width:500px;

}



h1{

font-size:70px;

}



h2{

color:#4da3ff;

}



button{

padding:15px 30px;
border:0;
border-radius:10px;
background:#2563eb;
color:white;
cursor:pointer;

}



button:hover{

transform:scale(1.1);

}





.cube{

width:250px;
height:250px;
background:#2563eb;
border-radius:40px;
animation:float 3s infinite;

box-shadow:
0 0 50px #2563eb;

}



@keyframes float{

50%{

transform:translateY(-30px) rotate(10deg);

}

}





section{

padding:100px 10%;
min-height:300px;

}





.cards{

display:flex;
gap:20px;
flex-wrap:wrap;

}



.cards div{

background:#111827;
padding:25px;
border-radius:20px;
flex:1;
min-width:200px;

transition:.3s;

}



.cards div:hover{

transform:translateY(-10px);
box-shadow:0 0 30px #2563eb;

}




.hidden{

opacity:0;
transform:translateY(50px);
transition:1s;

}



.show{

opacity:1;
transform:none;

}



footer{

padding:30px;
text-align:center;
background:#111827;

}





@media(max-width:800px){

.hero{

flex-direction:column;
text-align:center;

}


h1{

font-size:45px;

}

}
